<%provide(:title, 'About')%>
<!DOCTYPE >
<html>
	<head>
		<title>
			My first rails app | About
		</title>
	</head>
	<body>
		<p>
			This is the About us page for My first rails sample app.
		</p>
	</body>
</html>
