<%provide(:title, 'Help')%>
<!DOCTYPE >
<html>
	<head>
		<title>
			My first rails app | Help
		</title>
	</head>
	<body>
		<p>
			This is the help page for My first rails Sample App.
		</p>
	</body>
</html>
