<% provide(:title, 'Home') %>
<!DOCTYPE >
<html>
	<head>
		<title>
			My first rails app | <%= yield(:title) %>
		</title>
	</head>
	<body>
		<p>
			This is the home page for My first rails Sample App.
		</p>
	</body>
</html>
